// inline size
$font-size:13px;

$brand-primary: #337ab7;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

// block size
$wrap-width:100%; // 사이트 전체의 가로값
$lnb-width:20%; // LNB영역의 가로값
$content-width:$wrap-width - $lnb-width; // 컨덴츠 영역의 가로값
$header-height:150px; // 헤더영역 높이
$footer-height:150px; // 풋터영역 높이

// Scaffolding Variables
$body-bg:    #fff; // body의 배경색
$text-color: #666; // 폰트의 기본색
$input-color : #666; // 인풋폰트의 기본색
$input-color-placeholder : #999; // 인풋내의 placeholder 기본색
$link-color:       $brand-primary;
$link-hover-color: $brand-primary;
$image-url:"./images";